.navbar {
    padding: 0;
    .dropdown {
        .round-block {
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid $white;
        }
        img {
            display: block;
            object-fit: cover;
        }
    }
    .form-group {
        width: 40%;
    }
    input,
    .form-control {
        background-color: $black--light;
        border: $black--light;
        &:active {
            background-color: $black--light;
            border: $black--light;
        }
         ::placeholder {
            font-style: 90%;
        }
    }
    .login {
        .form-group {
            width: 100%;
        }
    }
}
.font--red{
    color:red;
    font-size: 17px;
}