.classroom {
    a {
        text-decoration: none;
    }
    .classroom__title {
        color: $font-color-primary;
    }
}
.input--default{
    padding: 5px;
    font-size: 13px;
    border-radius: 2%;
}